<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector de Somnolencia - Inicio</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="navbar">
        DETECTOR DE SOMNOLENCIA
    </div>

    <div class="welcome">
        <div class="card">
            <h1>Bienvenido</h1>
            <p>Este sistema permite detectar signos de somnolencia a través de la cámara web, analizando parpadeos, bostezos y microsueños en tiempo real. Ideal para saber la probabilidad de somnolencia en tiempo real.</p>
            <button id="startBtn">Iniciar Detección</button>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
